.collision-map {
    width: 50% !important;
    height: 50% !important;
}

.movement-container {
    display: flex;
    flex-direction: column;
}

.movement-buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

.movement-information {
    display: flex;

}


